<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="frontendPlugins" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="sharpPlugins" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <frontendPlugins configSource="FrontEnds.xml" />
  <sharpPlugins configSource="Plugins.xml" />
  <appSettings file="">
    <clear />
    <add key="plugin.bandPlan.enabled" value="True" />
    <add key="plugin.bandPlan.autoUpdateSettings" value="True" />
    <add key="plugin.bandPlan.position" value="1" />
    <add key="airspy.vga" value="2" />
    <add key="airspy.mixerAgc" value="False" />
    <add key="airspy.mixer" value="0" />
    <add key="airspy.lnaAgc" value="False" />
    <add key="airspy.lna" value="0" />
    <add key="airspy.simplifiedGain" value="13" />
    <add key="airspy.sampleRate" value="10000000" />
    <add key="airspy.decimation" value="0" />
    <add key="airspy.trackingFilterEnabled" value="False" />
    <add key="airspy.biasTeeEnabled" value="False" />
    <add key="airspy.spyVerterEnabled" value="False" />
    <add key="airspy.spyVerterPPM" value="0" />
    <add key="airspy.usePacking" value="False" />
    <add key="airspy.gainMode" value="0" />
    <add key="airspy.useDynamicRangeEnhancements" value="True" />
    <add key="dnr.af.enabled" value="False" />
    <add key="dnr.af.profile" value="0" />
    <add key="dnr.af.threshold" value="-120" />
    <add key="dnr.af.depth" value="20" />
    <add key="dnr.af.attack" value="20" />
    <add key="dnr.af.decay" value="30" />
    <add key="dnr.af.fft" value="5" />
    <add key="dnr.af.quality" value="70" />
    <add key="dnr.if.enabled" value="False" />
    <add key="dnr.if.profile" value="0" />
    <add key="dnr.if.boostSNR" value="False" />
    <add key="dnr.if.threshold" value="-120" />
    <add key="dnr.if.depth" value="20" />
    <add key="dnr.if.attack" value="20" />
    <add key="dnr.if.decay" value="30" />
    <add key="dnr.if.fft" value="5" />
    <add key="dnr.if.quality" value="70" />
    <add key="nb.bb.enabled" value="False" />
    <add key="nb.bb.threshold" value="5" />
    <add key="nb.bb.pulseWidth" value="50.0000007450581" />
    <add key="nb.bb.lookupWindow" value="10.0000001490116" />
    <add key="nb.demod.enabled" value="False" />
    <add key="nb.demod.threshold" value="5" />
    <add key="nb.demod.pulseWidth" value="50.0000007450581" />
    <add key="nb.demod.lookupWindow" value="10.0000001490116" />
    <add key="enableZoomFFTFilter" value="False" />
    <add key="enableZoomIF" value="False" />
    <add key="enableZoomMPX" value="False" />
    <add key="enableZoomAF" value="False" />
    <add key="SelectedFreqManagerGroup" value="[All Groups]" />
    <add key="ChangeFreqPauseInMs" value="100" />
    <add key="NextFreqPauseInSecond" value="2" />
    <add key="configureWord_Font" value="Microsoft Sans Serif, 8.25pt" />
    <add key="configureWord_panviewEnable" value="False" />
    <add key="configureWord_toSpectrum" value="False" />
    <add key="configureWord_OnlyActive" value="False" />
    <add key="AdditionalRowsInTable" value="10" />
    <add key="CheckFrequencyOnEntry" value="False" />
    <add key="TrackingOnlyCurrentGroup" value="False" />
    <add key="FrequencyManagerPluginPosition" value="0" />
    <add key="FrequencyManagerIgnoreShift" value="False" />
    <add key="FrequencyManagerShowCurrentGroup" value="False" />
    <add key="QPSKRecorderPath" value="C:\Users\m0569\Downloads\sdrsharp-x86-v1.0.0.1700" />
    <add key="QPSKSearchPhaseStep" value="100" />
    <add key="QPSKSymbolRate" value="1" />
    <add key="QPSKModulationType" value="0" />
    <add key="QPSKserverEnabled" value="False" />
    <add key="QPSKFileEnabled" value="False" />
    <add key="QPSKConstellInput" value="False" />
    <add key="QPSKConstellOutput" value="False" />
    <add key="QPSKTrackingEnable" value="False" />
    <add key="spectrumAnalyzer.attack" value="0.5" />
    <add key="spectrumAnalyzer.decay" value="0.44" />
    <add key="waterfall.Attack" value="0.88" />
    <add key="waterfall.decay" value="0.5" />
    <add key="useTimeMarkers" value="False" />
    <add key="fftSpeed" value="40" />
    <add key="fftContrast" value="-7" />
    <add key="fftWindowType" value="3" />
    <add key="spectrumStyle" value="3" />
    <add key="fftView" value="2" />
    <add key="fftResolution" value="6" />
    <add key="detectorType" value="1" />
    <add key="useAGC" value="False" />
    <add key="agcThreshold" value="-100" />
    <add key="agcDecay" value="100" />
    <add key="agcSlope" value="0" />
    <add key="agcHang" value="False" />
    <add key="frequencyShift" value="0" />
    <add key="frequencyShiftEnabled" value="False" />
    <add key="swapIQ" value="False" />
    <add key="correctIQ" value="False" />
    <add key="markPeaks" value="False" />
    <add key="fmStereo" value="False" />
    <add key="filterAudio" value="False" />
    <add key="unityGain" value="False" />
    <add key="latency" value="100" />
    <add key="sampleRate" value="48000 sample/sec" />
    <add key="audioGain" value="50" />
    <add key="AudioIsMuted" value="False" />
    <add key="windowState" value="2" />
    <add key="windowPosition" value="0,0" />
    <add key="windowSize" value="1000,800" />
    <add key="collapsiblePanelStates" value="1,1,1,1,1,0,0,0,0,0,0,0,0,0,0" />
    <add key="splitterPosition" value="498" />
    <add key="iqSource" value="0" />
    <add key="waveFile" value="" />
    <add key="centerFrequency" value="103000000" />
    <add key="vfo" value="101000000" />
    <add key="tuningStyle" value="0" />
    <add key="fftDisplayOffset" value="1" />
    <add key="fftDisplayRange" value="5" />
    <add key="inputDevice" value="[MME] Microsoft Sound Mapper - Input" />
    <add key="outputDevice" value="[MME] Microsoft Sound Mapper - Output" />
    <add key="spectrumWidth" value="8000001" />
    <add key="lockCarrier" value="False" />
    <add key="useAntiFading" value="False" />
    <add key="menuPosition" value="0" />
    <add key="wfmState" value="200000,250,3,50,0,1000,1,18,0,0,0,0" />
    <add key="nfmState" value="8000,1000,3,50,1,1000,1,12,0,0,0,0" />
    <add key="amState" value="10000,1000,3,50,0,1000,1,4,0,0,0,0" />
    <add key="lsbState" value="2400,1000,3,50,0,1000,1,1,0,1,0,0" />
    <add key="usbState" value="2400,1000,3,50,0,1000,1,1,0,1,0,0" />
    <add key="dsbState" value="6000,1000,3,50,0,1000,1,1,0,1,0,0" />
    <add key="cwState" value="300,1000,3,50,0,1000,1,1,0,1,0,0" />
    <add key="rawState" value="10000,1000,3,50,0,1000,1,4,1,0,0,0" />
    <add key="topSplitter" value="200" />
    <add key="bottomSplitter" value="200" />
    <add key="leftSplitter" value="200" />
    <add key="rightSplitter" value="200" />
    <add key="menuIsHidden" value="False" />
  </appSettings>
</configuration>